*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.selectYour{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F2;
}
.selectYour .container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selectYour .container .selectTxt{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.selectYour .container .selectTxt h1{
    font-family:"Josefin Sans";
    font-size: 96px;
    font-weight: 700;
    line-height: 115px;
    color:
    rgb(11, 28, 57) ;
}
.selectYour .container .selectTxt p{
    font-family:"Josefin Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color:
    rgb(33, 32, 37) ;
}
.selectYour .container .selectTxt button{
    padding: 25px 35px;
    background-color: 
    rgb(33, 32, 37);
    font-family:"Josefin Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 0px;
    color:
    rgb(255, 255, 255) ;
    border: none;
}
.selectYour .container .selectTxt button:hover{
    cursor: pointer;
    background-color: #FF2020;
}

@media screen and (min-width:300px) and (max-width:576px){
    .selectYour{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F0F0F2;
    }
    .selectYour .container{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .selectYour .container .selectTxt{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
    .selectYour .container .selectTxt h1{
        font-family:"Josefin Sans";
        font-size: 56px;
        font-weight: 700;
        line-height: 115px;
        color:
        rgb(11, 28, 57) ;
        width: 100%;
    }
    .selectYour .container .selectTxt p{
        font-family:"Josefin Sans";
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
        color:
        rgb(33, 32, 37) ;
        width: 100%;
    }
    .selectYour .container .selectTxt button{
        padding: 25px 35px;
        background-color: 
        rgb(33, 32, 37);
        font-family:"Josefin Sans";
        font-size: 16px;
        font-weight: 600;
        line-height: 0px;
        color:
        rgb(255, 255, 255) ;
        border: none;
        margin-bottom: 10px;
    }
    .selectYour .container .selectTxt button:hover{
        cursor: pointer;
        background-color: #FF2020;
    }

    .selectYour .container img{
        display: none;
    }
}


